{% extends 'base.html.twig' %}
     
 {% block body %}
     
     <div id="app">
        <div> 
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
         </div>
     </div>
     
 {% endblock %}